{% extends 'appmain/base.html' %}
{% load markdown_deux_tags %}

{% block title %}detail{% endblock %}
{% block css %}

    <style type="text/css">
        .detailcard {
            background: rgba(249, 250, 250, 0.91) url('/static/appmain/ss.jpg') repeat;
            box-shadow: 2px 2px rgba(173, 173, 173, 0.36);
            padding: 10px 10px 10px 10px;
            margin-bottom: 7px;
        }

        .detailbotton {
            margin-bottom: 7px;
        }
    </style>

{% endblock %}



{% block content %}
    <br>

    <div class="row">
        <div class="col-sm-12 detailbotton">
            <div class="btn-group btn-group-lg">
                {% if link.user == user %}
                    <a href="/mark/?linkid={{ link.id }}&edit=1" type="button" class="btn btn-default">修改</a>
                    <a href="/delete/?linkid={{ link.id }}" type="button" class="btn btn-default">删除</a>
                {% else %}
                    <a href="/mark/?linkid={{ link.id }}" type="button" class="btn btn-default">收藏</a>
                    <button type="button" class="btn btn-default  disabled">关注</button>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 detailcard">
            <h2> {{ link.title }}</h2>

            {% if link.url %}<p> <a href="{{ link.url }}" target="_blank">{{ link.url|cut:"https://"|cut:"http://"|cut:"www."|slice:'20' }}…<i 
                                class="fa fa-link fa-fw"></i></a></p>{% else %}{% endif %}
            <p>  <span class="label label-default"><i 
                                class="fa fa-user fa-fw"></i> {{ link.user }}</span></p>
            {{ link.content|markdown }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 detailcard">
            <p> 评论</p>

            <p> 评论</p>

            <p> 评论</p>

            <p> 评论</p>

            <p> 评论</p>
        </div>
    </div>


{% endblock %}
